.table__conteiner__hecho {
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  display: block;
  padding: 2rem;
  width: 650px;
  
  background-color: seagreen;
}

.table__conteiner__proceso {
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  display: block;
  padding: 2rem;
  width: 650px;
  background-color: salmon;
}

.table__conteiner__porhacer {
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  display: block;
  padding: 2rem;
  width: 650px;
  background-color: teal;
}

.b2 {
  margin-right: 50px;
}

.List ul>li {
  margin-bottom: 1rem;
}

.ListItemEnPrc {
  background:  salmon;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  border-radius: 5px;
/*  display: flex;*/
  padding: 1rem;
}

.ListItemPorHacer {
  background:  teal;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  /* display: flex; */
  padding: 1rem;
}

.ListItemHecho {
  background:  seagreen;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  border-radius: 5px;
/*  display: flex;*/
  padding: 1rem;
}
