.DivGeneral {
  display: flex;
  margin-top: 10px;
}

.inputI {
  margin: 10px;
}

body {
  background-image: url("../IMG/fondo6.jpg");
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: indigo;

  font-size: 50px;
}
