.Show__contener{
        border: double;
        
        
}


/* .ff{
        margin-right: 670px;
        margin-top: 20px;
        border: double;
        margin-left: 40px;
    } */

img{
        width: 50px;
        height: 50px;
}

